/*
=======================
Events
======================= */

/* Nav Hovers */

nav.solid .nav-container ul.main-nav li a:hover,
nav.solid .nav-container ul.main-nav li a.active {
  color: #544741 !important;
}

nav.affix .nav-container ul.main-nav li a:hover,
nav.affix .nav-container ul.main-nav li a.active,
nav.nav-sm .nav-container ul.main-nav li a:hover,
nav.nav-sm .nav-container ul.main-nav li a.active,
nav.solid.affix .nav-container ul.main-nav li a:hover,
nav.solid.affix .nav-container ul.main-nav li a.active {
  color: #544741 !important;
}

nav.affix .fixed-tools ul li a:hover,
nav.nav-sm .fixed-tools ul li a:hover {
  color: #544741 !important;
}

nav.solid .logo-container .tools ul li.search a:hover i {
  color: #544741 !important;
}

.two-column .block:after {
  background-color: rgba(84, 71, 65, 0.6);
}

.two-column .divider {
  margin-bottom: 40px;
}

.three-column .button-cta {
  margin-bottom: 0;
}

.three-column .block:after {
  background-color: rgba(84, 71, 65, 0.6);
}

.three-column .block-content h4 {
  margin-top: 0;
}

.three-column .block-content .date {
  margin-bottom: 0;
}

.quad-column .quad-block:after {
  background-color: rgba(84, 71, 65, 0.6);
}

.quad-column .block-text h4:first-child {
  margin-bottom: 0;
}

.directory .directory-list .directory-item .directory-pic a:after {
  background-color: rgba(84, 71, 65, 0.6) !important;
}

.directory .directory-list .directory-item .directory-info h4 {
  text-transform: none;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 0;
}

.directory .directory-list .directory-item .directory-info .address {
  margin: 10px 0;
}

/* Sub Nav */
.subnav ul li a {
  color: #000 !important;
}

header .cta.vert-center {
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
}