/*
=======================
Front Page (index.php)
======================= */

/* Buttons/Controls at bottom of header */

header .where-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

header .where-container ul.where-buttons {
  width: 100%;
  min-width: 800px;
  max-width: 900px;
  display: table;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

header .where-container ul.where-buttons > li {
  /* display: table-cell; */
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 22px;
}

header .where-container ul.where-buttons > li a {
  font-size: 18px;
}

header .where-container ul.where-buttons > li a i {
  font-size: 14px;
}

header .where-container ul.where-buttons .dropdown-menu li a:hover {
  color: #544741 !important;
}

main {
  position: relative;
}

main:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url('/partners/thepress/img//backgrounds/illustration3.png') center 80px no-repeat;
  background-size: 85%;
  display: block;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.three-column.stories .block:after {
  content: '';
  width: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(255, 91, 80, 0.50) !important;
  transition: all 0.3s;
  -webkit-transition: all 0.2s;
}

.three-column.stories .block:hover:after {
  opacity: 1;
}

@media (max-width: 768px) {
  header .where-container {
    bottom: 0;
  }
  header .where-container .where-label {
    color: #fff;
    font-size: 22px;
  }
  header .where-container ul.where-buttons {
    padding-left: 0;
    padding-right: 0;
    border-top: none;
    border-spacing: 0;
    padding-top: 5px;
    min-width: 0 !important;
  }
  header .where-container ul.where-buttons > li {
    padding: 0;
  }
  header .where-container ul.where-buttons > li a {
    width: 100%;
    border-radius: 0px !important;
    padding: 15px 10px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
  }
  header .where-container ul.where-buttons > li:last-child a {
    border-right: 0;
  }
  header .where-container ul.where-buttons .dropdown-menu li a {
    padding: 5px !important;
  }
}