/*
=======================
Single Trip
======================= */

/* Nav Hovers */

nav.solid .nav-container ul.main-nav li a:hover,
nav.solid .nav-container ul.main-nav li a.active {
  color: #FF944E !important;
}

nav.affix .nav-container ul.main-nav li a:hover,
nav.affix .nav-container ul.main-nav li a.active,
nav.nav-sm .nav-container ul.main-nav li a:hover,
nav.nav-sm .nav-container ul.main-nav li a.active,
nav.solid.affix .nav-container ul.main-nav li a:hover,
nav.solid.affix .nav-container ul.main-nav li a.active {
  color: #FF944E !important;
}

nav.affix .fixed-tools ul li a:hover,
nav.nav-sm .fixed-tools ul li a:hover {
  color: #FF944E !important;
}

/* Header Single */

.header-single .header-map {
  position: relative;
}

.header-single .header-map #trip-map {
  width: 100%;
  height: 600px;
}

.header-single .header-map .button-float-top {
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: 999;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.header-single .header-map .button-float-bottom {
  width: 100%;
  position: absolute;
  bottom: 30px;
  z-index: 999;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.header-single .mobile-social ul {
  display: table;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.header-single .mobile-social ul li {
  list-style: none;
  display: table-cell;
}

@media (max-width: 768px) {
  .header-single {
    padding-bottom: 25px;
    border-bottom: 1px solid #C4C5B4;
  }
  .header-single .header-map #trip-map {
    height: 300px;
  }
}

/* Single Toolbar */

.single-toolbar .single-toolbar .toolbar-container {
  border-bottom: 1px solid #C4C5B4;
  padding: 0;
}

.single-toolbar ul {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 40px;
}

.single-toolbar ul li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  font-weight: 700;
  font-size: 20px;
}

.single-toolbar ul li span {
  font-weight: 400;
  margin-left: 10px;
}

.single-toolbar ul li a {
  text-transform: uppercase;
  font-size: 14px;
}

.single-sidebar .single-toolbar ul {
  float: left;
  margin-top: 10px;
  margin-bottom: 40px;
}

.single-sidebar .single-toolbar ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
}

.single-sidebar .single-toolbar ul li a {
  text-transform: uppercase;
  font-size: 14px;
}

.single-sidebar .single-toolbar ul li.social-label {
  font-size: 14px;
  padding-top: 5px;
}

.single-sidebar .single-toolbar ul li.social i {
  font-size: 25px;
}

/* Meta */

.trips-meta {
  border-bottom: 1px solid #C4C5B4;
  padding: 0 0 20px 0;
}

.trips-meta ul {
  margin: 0;
  padding: 0;
}

.trips-meta ul li {
  list-style: none;
  line-height: 28px;
}

/* Single Content */

.single-content .single-body {
  padding: 0 80px 0 40px;
  text-align: left;
}

.single-content .single-body article {
  padding-bottom: 30px;
}

.single-content h2, .single-featured h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 25px 0;
}

.single-content h3, .single-featured h3 {
  font-size: 28px;
  text-transform: none;
  letter-spacing: 0.5px;
  margin: 35px 0 25px 0;
}

.single-content .number-list, .single-featured .number-list {
  list-style: none;
  padding-left: 20px;
  padding: 30px;
  background-color: #F4F5EC;
}

.single-content .number-list li, .single-featured .number-list li {
  counter-increment: step-counter;
  line-height: 35px;
  font-size: 18px;
}

.single-content .number-list li:before, .single-featured .number-list li:before {
  content: counter(step-counter);
  margin-right: 10px;
  color: #FF5B50;
  font-weight: 700;
}

.single-content .bullet-list, .single-featured .bullet-list {
  margin: auto;
  padding-left: 20px;
  list-style: none;
  background-color: #F4F5EC;
  padding: 30px;
}

.single-content .bullet-list li, .single-featured .bullet-list li {
  line-height: 35px;
  font-size: 18px;
}

.single-content .bullet-list li:before, .single-featured .bullet-list li:before {
  content: '\2022';
  color: #FF5B50;
  font-size: 22px;
  margin-right: 10px;
}

.single-content p, .single-featured p {
  line-height: 28px;
}

.single-content p a, .single-featured p a {
  color: #FF5B50;
}

@media (max-width: 992px) {
  .single-content {
    padding: 0 20px !important;
  }
}

/* Single Sidebar */

.single-content .single-sidebar {
  padding-top: 25px;
}

/* Related Stories */

.related-stories {
  margin-top: 35px;
}

.related-stories .related-title {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #C4C5B4;
}

.related-stories .related-title h3 {
  font-size: 18px;
  letter-spacing: 3.21px;
  margin-bottom: 15px;
}

.related-stories ul {
  margin-top: 30px;
  text-align: left;
}

.related-stories ul li {
  max-width: 70%;
  list-style: none;
  margin-bottom: 15px;
}

/* Single Featured Section */

.single-featured {
  margin: 40px auto 40px auto;
}

.single-featured .featured-image img {
  width: 100%;
  height: auto;
}

.single-featured .featured-title {
  margin: 50px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C5B4;
}

.single-featured .featured-title .featured-label {
  text-transform: uppercase;
  font-size: 14px;
}

.single-featured .featured-title h1 {
  font-size: 48px;
  margin-top: 5px;
  text-transform: uppercase;
  float: left;
}

.single-featured .featured-toolbar {
  margin: 20px 0;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #C4C5B4;
}

.single-featured .featured-toolbar ul {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 330px;
  text-align: center;
}

.single-featured .featured-toolbar ul li {
  list-style: none;
  display: table-cell;
}

.single-featured .featured-title .featured-button {
  margin-top: 30px;
  text-align: right;
}

.single-featured .featured-title .title-container {
  padding-left: 40px;
}

.single-featured .featured-title .featured-address {
  font-size: 20px;
  clear: both;
}

.single-featured .featured-content .featured-container {
  padding: 0 40px;
}

.single-featured .featured-content p {
  line-height: 28px;
  font-size: 18px;
}

.single-featured .featured-content .featured-map {
  text-align: left;
}

.single-featured .featured-title .affiliate-badge,
.single-featured .featured-title .partner-badge {
  float: left;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  width: 100px;
  margin-left: 8px;
  margin-top: 15px;
  position: absolute;
}

.single-featured .featured-title .partner-badge:after {
  display: none;
}

/* Trips */

.single-content .two-column.two-column-divider .block-padding {
  margin: 0;
  min-height: 200px;
}

.single-content .two-column.two-column-divider .block-container:first-child {
  border-right: none;
}

.single-content .two-column.two-column-divider .block-text {
  padding: 0 20px;
  margin-top: 15px;
}

.single-content .two-column.two-column-divider .block-text h3 {
  margin-top: 0;
  font-size: 20px;
}

@media (max-width: 992px) {
  .single-content .single-body {
    padding: 0 15px;
  }
  .single-featured .featured-title .partner-badge {
    margin-left: -40px;
  }
}

@media (max-width: 768px) {
  .single-featured {
    margin: 0 auto !important;
  }
  main {
    padding-top: 15px;
  }
  .single-featured .featured-title {
    text-align: center;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 0;
  }
  .single-featured .featured-title h1 {
    font-size: 35px;
    float: none;
  }
  .single-featured .featured-content .featured-container {
    padding: 0 15px;
  }
  .single-featured .featured-title .featured-button {
    text-align: center;
  }
  .single-featured .featured-title .title-container {
    padding-left: 15px;
  }
  .single-featured .featured-content .featured-map {
    text-align: center;
    margin-top: 40px;
  }
  .single-toolbar ul {
    float: left;
  }
  .single-toolbar ul li {
    margin-left: 0;
    margin-right: 15px;
  }
  .single-featured .featured-title .affiliate-badge,
  .single-featured .featured-title .partner-badge {
    margin: 0 auto 0 30px;
    float: none;
    position: relative;
    text-align: center;
  }
  .single-featured .featured-title .partner-badge:before {
    margin-right: 70px;
  }
  .single-featured .featured-content p {
    padding: 0 20px;
  }
}